header .profile img {
    border: 3px solid white;
}

button.btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 1rem;
}

.announcement-card {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.announcement-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.scrollable-announcements {
    max-height: 330px; /* Sesuaikan tinggi maksimal sesuai kebutuhan */
    overflow-y: auto;
}

/* .job-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    display: inline-block;
    text-align: start;
} */

.hari {
    width: 80px; /* Atur sesuai kebutuhan */
    text-align: center; /* Agar teks di tengah */
}


@media (max-width: 768px) {
    .profile h5, .profile p {
        font-size: 0.9rem;
    }
    .check {
        font-size: 10px;
    }
}

.content-presensi{
    height: 100vh;
    border-radius: 70px 70px 0 0
}

.scrollable-content {
    max-height: 420px;
    overflow-y: auto;
}
